@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* graphik font */

button {
  outline: 0;
  border: 0;
}

input, textarea {
  outline: 0;
  resize: none;
}

html {
  background-color: rgba(21, 21, 21, 1);
}

a {
  text-decoration: none;
  color: inherit;
}

.gradient-text {
  background-image: linear-gradient(to right, #07505f, #0c91ac); 
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent; 
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

@-moz-document url-prefix() {
  .blur-top, .blur-bottom {
    display: none !important;
  }
}

.swiper-scrollbar {
  background-color: #2e2e2e !important;
}

.swiper-scrollbar-drag {
  background-color: #fff !important;
}

.blur-top {
  @apply absolute top-12 w-[900px] right-24 h-12 bg-gradient-to-l hidden from-blue-500 to-blue-300 blur-[150px] z-20 md:inline
}

.blur-bottom {
  @apply absolute md:bottom-6 min-w-[200px] max-w-[700px] w-full left-2/4 blur-[150px] -translate-x-2/4 h-12 bg-gradient-to-l from-blue-500 to-blue-300 md:left-12
}

.v-toast__item--default {
  background-image: linear-gradient(to left, #0c91ac, #07505f) !important;
}
